<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - ETL

## Objectives

In this final part you will:

- Run the ETL process
- Extract bank and market cap data from the JSON file `bank_market_cap.json`
- Transform the market cap currency using the exchange rate data
- Load the transformed data into a seperate CSV

In [1]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [2]:
import glob
import pandas as pd
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [3]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2023-08-19 00:25:21--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2815 (2.7K) [application/json]
Saving to: ‘bank_market_cap_1.json’

bank_market_cap_1.j 100%[===================>]   2.75K  --.-KB/s    in 0s

2023-08-19 00:25:21 (14.0 MB/s) - ‘bank_market_cap_1.json’ saved [2815/2815]

--2023-08-19 00:25:22--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1429 (1.4K) [application/json]
Saving to: ‘bank_market_cap_2.json’

bank_market_cap_2.j 100%[===================>]   1.40K  --.-KB/s    in 0s

2023-08-19 00:25:22 (12.0 MB/s) - ‘bank_market_cap_2.json’ saved [1429/1429]

--2023-08-19 00:25:22--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 590 [text/csv]
Saving to: ‘exchange_rates.csv’

exchange_rates.csv  100%[===================>]     590  --.-KB/s    in 0s

2023-08-19 00:25:22 (5.67 MB/s) - ‘exchange_rates.csv’ saved [590/590]

## Extract

### JSON Extract Function

This function will extract JSON files.

In [4]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [5]:
columns=['Name','Market Cap (US$ Billion)']

In [6]:
def extract():
    # this function to extract all json files and append them into dataframe
    # perform extraction to files
    ex_data = pd.DataFrame(columns)
    
    # get json files' data
    for file in glob.glob("*json"):
        ex_data = ex_data.append(extract_from_json(file))
    return ex_data

In [7]:
extracted_data = extract()

<b>**Question 1** </b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number.

In [8]:
# load the exchange rates data
df_ex_rate = pd.read_csv("exchange_rates.csv")

df_ex_rate.head()

  Unnamed: 0     Rates
0        AUD  1.297088
1        BGN  1.608653
2        BRL  5.409196
3        CAD  1.271426
4        CHF  0.886083

In [9]:
# get the exchange_rate value (only GBP)
exchange_rate = df_ex_rate[df_ex_rate['Unnamed: 0'] == 'GBP']['Rates'].values.sum()

exchange_rate

0.7323984208000001

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1. Changes the `Market Cap (US$ Billion)` column from USD to GBP
2. Rounds the Market Cap (US$ Billion)` column to 3 decimal places
3. Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [10]:
def transform(data_need_to_trans):
    # Change the Market Cap column
    # GBP_Cap = extracted_data * US_Cap
    data_need_to_trans['Market Cap (US$ Billion)'] = exchange_rate * data_need_to_trans['Market Cap (US$ Billion)']
    data_need_to_trans['Market Cap (US$ Billion)'] = round(data_need_to_trans['Market Cap (US$ Billion)'], 3)
    data_need_to_trans.rename(columns={'Market Cap (US$ Billion)': 'Market Cap (GBP$ Billion)'}, inplace=True)
    return data_need_to_trans

In [11]:
# check the extracted data first
extracted_data

,0,Market Cap (US$ Billion),Name
0,Name,NaN,NaN
1,Market Cap (US$ Billion),NaN,NaN
0,NaN,390.934,JPMorgan Chase
1,NaN,345.214,Industrial and Commercial Bank of China
2,NaN,325.331,Bank of America
...,...,...,...
65,NaN,37.993,Ping An Bank
66,NaN,37.319,Standard Chartered
67,NaN,35.128,United Overseas Bank
68,NaN,33.560,QNB Group
69,NaN,33.081,Bank Rakyat

In [12]:
# drop the 0 column
extracted_data.drop(0, inplace=True, axis=1)

# remove null names
extracted_data = extracted_data.dropna(subset=['Name'])

In [13]:
extracted_data

    Market Cap (US$ Billion)                                     Name
0                    390.934                           JPMorgan Chase
1                    345.214  Industrial and Commercial Bank of China
2                    325.331                          Bank of America
3                    308.013                              Wells Fargo
4                    257.399                  China Construction Bank
..                       ...                                      ...
65                    37.993                             Ping An Bank
66                    37.319                       Standard Chartered
67                    35.128                     United Overseas Bank
68                    33.560                                QNB Group
69                    33.081                              Bank Rakyat

[105 rows x 2 columns]

In [14]:
transform(extracted_data)

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

    Market Cap (GBP$ Billion)                                     Name
0                     286.319                           JPMorgan Chase
1                     252.834  Industrial and Commercial Bank of China
2                     238.272                          Bank of America
3                     225.588                              Wells Fargo
4                     188.519                  China Construction Bank
..                        ...                                      ...
65                     27.826                             Ping An Bank
66                     27.332                       Standard Chartered
67                     25.728                     United Overseas Bank
68                     24.579                                QNB Group
69                     24.228                              Bank Rakyat

[105 rows x 2 columns]

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [15]:
def load(distination, load_data):
    # Write your code here
    load_data.to_csv(distination, index=False)

## Logging Function

Write the logging function <code>log</code> to log your data:

In [16]:
def log(message):
    # Write your code here
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [17]:
# Write your code here
log("ETL Job Started")
log("Extract phase Started")

### Extract

<code>Question 2</code> Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

In [18]:
# Call the function here
extracted = extract()
# Print the rows here
extracted.head()

,0,Market Cap (US$ Billion),Name
0,Name,NaN,NaN
1,Market Cap (US$ Billion),NaN,NaN
0,NaN,390.934,JPMorgan Chase
1,NaN,345.214,Industrial and Commercial Bank of China
2,NaN,325.331,Bank of America

Log the data as <code>"Extract phase Ended"</code>

In [19]:
# Write your code here
log("Extract phase Ended")

### Transform

Log the following  <code>"Transform phase Started"</code>

In [20]:
# Write your code here
log("Transform phase Started")

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

In [21]:
# drop the 0 column
extracted.drop(extracted.columns[0], inplace=True, axis=1)

# remove null names
extracted = extracted.dropna(subset=['Name'])

# Call the function here
transformed = transform(extracted)

# Print the first 5 rows here
transformed.head()

   Market Cap (GBP$ Billion)                                     Name
0                    286.319                           JPMorgan Chase
1                    252.834  Industrial and Commercial Bank of China
2                    238.272                          Bank of America
3                    225.588                              Wells Fargo
4                    188.519                  China Construction Bank

Log your data <code>"Transform phase Ended"</code>

In [22]:
# Write your code here
log("Transform phase Ended")

### Load

Log the following `"Load phase Started"`.

In [23]:
# Write your code here
log("Load phase Started")

Call the load function

In [26]:
# Write your code here
load('market_cap.csv', transformed)

Log the following `"Load phase Ended"`.

In [27]:
# Write your code here
log("Load phase Ended")

## Authors

Ramesh Sannareddy, Joseph Santrcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).